<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Literacy for CSUMB Freshmen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Financial Literacy for CSUMB Students</h1>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('chapters_list') }}">Chapters</a>
            <a href="{{ url_for('calculator') }}">Investment Calculator</a>
            <a href="{{ url_for('budget') }}">Budget Tool</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Created by: Sabino Galindo, Sharwan Lal, and Kyle Lynn</p>
    </footer>
</body>
</html>